;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; @file appsrv.cfg
;
; @brief TIMAC 2.0 NPI Server V2 configuration file 
;
; Group: WCS LPC
; $Target Device: DEVICES $
;
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; $License: BSD3 2016 $
; ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; $Release Name: PACKAGE NAME $
; $Release Date: PACKAGE RELEASE DATE $
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;
[log]
	; For more details about logging, and how "flags" work
	; see the discussion in: the collector "appsrv.cfg" file
	filename = npi_log.txt
	# but is also printed on stderr to be handy.
	; dup2stderr = true
	;; Everything turns on all logs
	;flag = everything
	flag = not-sys_dbg_mutex
	;; just warnings
	 flag = warning
	;; just errors
	flag = error
	;; fatal errors
	flag = fatal
	;; Internal flags in the abstraction layer
	; flag = sys_dbg_mutex
	; flag = sys_dbg_thread
	; flag = sys_dbg_fifo
	; flag = sys_dbg_uart
	; flag = sys_dbg_sleep
	; flag = sys_dbg_socket
	;; 

[socket-cfg]
	type = server
	; host = not used
	service = 12345
	; devicename = not used
	server_backlog = 5
	inet = 4

[uart-cfg]
	;; the TI CC2531 shows up ast /dev/ttyACM0 to 9
	;; The FTDI cables show up as: /dev/ttyUSB0 to 9
	;; The Prolific cables also show up as /dev/ttyUSB0 to 9
	#devname = /dev/ttyUSB1
	devname = /dev/ttyACM0
	#devname = COM7
	baudrate = 115200
	flag = default

[uart-interface]
	include-chksum = true
	frame-sync = true
	fragmentation-size = 240
	retry-max = 3
	fragmentation-timeout-msecs = 1000
	intersymbol-timeout-msecs = 100
	srsp-timeout-msecs = 1000
	len-2bytes = false
	flush-timeout-msecs = 50
	
[socket-interface]
	include-chksum = false
	frame-sync = false
	fragmentation-size = 240
	retry-max = 3
	fragmentation-timeout-msecs = 1000
	intersymbol-timeout-msecs = 100
	srsp-timeout-msecs = 1000
	len-2bytes = true
	flush-timeout-msecs = 10

[application]
	# Debug info for messages
	msg-dbg-data = apimac-msgs.cfg
